In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('../assets/problems_with_html.csv')
df

,title,html,problem_function
0,Two Sum,\n <h3>Two Sum</h3>\n <p><strong...,TwoSum
1,Valid Parentheses,\n <h3>Valid Parentheses</h3>\n ...,ValidParentheses
2,Merge Two Sorted Lists,\n <h3>Merge Two Sorted Lists</h3>\n ...,MergeTwoSortedLists
3,Best Time to Buy and Sell Stock,\n <h3>Best Time to Buy and Sell Stock<...,BestTimetoBuyandSellStock
4,Valid Palindrome,\n <h3>Valid Palindrome</h3>\n <...,ValidPalindrome
5,Invert Binary Tree,\n <h3>Invert Binary Tree</h3>\n ...,InvertBinaryTree
6,Valid Anagram,\n <h3>Valid Anagram</h3>\n <p><...,ValidAnagram
7,Binary Search,\n <h3>Binary Search</h3>\n <p><...,BinarySearch
8,Flood Fill,\n <h3>Flood Fill</h3>\n <p><str...,FloodFill
9,Lowest Common Ancestor of a Binary Search Tree,\n <h3>Lowest Common Ancestor of a Bina...,LowestCommonAncestorofaBinarySearchTree

In [8]:
df['problem_function'] = df['title'].apply(lambda x: x.replace(' ', ''))
df['id'] = np.arange(10)

In [9]:
df.to_csv('../assets/problems_with_html.csv', index=False)

In [13]:
df = pd.read_csv('problem_test_cases.csv')
df

,id,problem,input,output
0,0,Two Sum,"input = ([3, 2, 4, 5, 8], 10)","[1, 4]"
1,0,Two Sum,"input = ([2, 5, 7, 11, 15], 17)","[0, 4]"
2,0,Two Sum,"input = ([10, 21, 30, 40, 50], 70)","[2, 3]"
3,0,Two Sum,"input = ([-1, 0, 1, 2, 1], 0)","[0, 2]"
4,0,Two Sum,"input = ([2, 2, 2, 2, 2], 4)","[0, 1]"
5,1,Valid Parentheses,input = '[({})]',True
6,1,Valid Parentheses,input = '[(])',False
7,1,Valid Parentheses,input = '()(){}{}',True
8,1,Valid Parentheses,input = '{[()]}',True
9,1,Valid Parentheses,input = '([)]',False
10,2,Merge Two Sorted Lists,"list1 = [1, 3, 5], list2 = [2, 4, 6]","[1, 2, 3, 4, 5, 6]"
11,2,Merge Two Sorted Lists,"list1 = [1, 2, 3], list2 = [4, 5, 6]","[1, 2, 3, 4, 5, 6]"
12,2,Merge Two Sorted Lists,"list1 = [], list2 = [1, 2, 3]","[1, 2, 3]"
13,2,Merge Two Sorted Lists,"list1 = [1, 2], list2 = []","[1, 2]"
14,2,Merge Two Sorted Lists,"list1 = [1, 5, 9], list2 = [2, 6, 10]","[1, 2, 5, 6, 9, 10]"
15,3,Best Time to Buy and Sell Stock,"prices = [3, 2, 6, 1, 7]",6
16,3,Best Time to Buy and Sell Stock,"prices = [7, 1, 5, 3, 6, 4]",5
17,3,Best Time to Buy and Sell Stock,"prices = [1, 2, 3, 4, 5]",4
18,3,Best Time to Buy and Sell Stock,"prices = [7, 6, 4, 3, 1]",0
19,3,Best Time to Buy and Sell Stock,"prices = [1, 4, 2, 5, 3, 6]",5
20,4,Valid Palindrome,s = 'A Toyota’s a Toyota',true
21,4,Valid Palindrome,"s = 'No lemon, no melon'",true
22,4,Valid Palindrome,"s = 'Hello, World!'",false
23,4,Valid Palindrome,s = 'Was it a car or a cat I saw?',true
24,4,Valid Palindrome,s = '12321',true
25,5,Invert Binary Tree,"tree = [4, 2, 7, 1, 3, 6, 9]","[4, 7, 2, 9, 6, 3, 1]"
26,5,Invert Binary Tree,"tree = [1, 2, 3, 4, 5, 6, 7]","[1, 3, 2, 7, 6, 5, 4]"
27,5,Invert Binary Tree,"tree = [2, 1, 3]","[2, 3, 1]"
28,5,Invert Binary Tree,"tree = [1, 2]","[1, null, 2]"
29,5,Invert Binary Tree,tree = [],[]
30,6,Valid Anagram,"s = 'listen', t = 'silent'",true
31,6,Valid Anagram,"s = 'rat', t = 'car'",false
32,6,Valid Anagram,"s = 'anagram', t = 'nagaram'",true
33,6,Valid Anagram,"s = 'abcd', t = 'dcba'",true
34,6,Valid Anagram,"s = 'hello', t = 'world'",false
35,7,Binary Search,"nums = [1, 3, 5, 7, 9], target = 7",3
36,7,Binary Search,"nums = [-5, -3, 0, 3, 5], target = 3",3
37,7,Binary Search,"nums = [10, 20, 30, 40, 50], target = 25",-1
38,7,Binary Search,"nums = [1, 2, 3, 4, 5], target = 5",4
39,7,Binary Search,"nums = [1], target = 1",0
40,8,Flood Fill,"image = [[1,1,1],[1,1,0],[1,0,1]], sr = 1, sc ...","[[2,2,2],[2,2,0],[2,0,1]]"
41,8,Flood Fill,"image = [[0,0,0],[0,0,0],[0,0,0]], sr = 0, sc ...","[[1,1,1],[1,1,1],[1,1,1]]"
42,8,Flood Fill,"image = [[1,1,1],[1,1,1],[1,1,1]], sr = 2, sc ...","[[3,3,3],[3,3,3],[3,3,3]]"
43,8,Flood Fill,"image = [[0,0],[0,1]], sr = 0, sc = 0, newColo...","[[3,3],[3,1]]"
44,8,Flood Fill,"image = [[1]], sr = 0, sc = 0, newColor = 0",[[0]]
45,9,Lowest Common Ancestor of a Binary Search Tree,"tree = [6, 2, 8, 0, 4, 7, 9, null, null, 3, 5]...",6
46,9,Lowest Common Ancestor of a Binary Search Tree,"tree = [6, 2, 8, 0, 4, 7, 9, null, null, 3, 5]...",2
47,9,Lowest Common Ancestor of a Binary Search Tree,"tree = [2, 1], p = 2, q = 1",2
48,9,Lowest Common Ancestor of a Binary Search Tree,"tree = [5, 3, 6, 2, 4, null, null, 1], p = 2, ...",3
49,9,Lowest Common Ancestor of a Binary Search Tree,"tree = [5, 3, 6, 2, 4, null, null, 1], p = 1, ...",3

In [14]:
df.drop(['problem'], axis=1, inplace=True)
df = df[df['id'] != 5]
df

,id,input,output
0,0,"input = ([3, 2, 4, 5, 8], 10)","[1, 4]"
1,0,"input = ([2, 5, 7, 11, 15], 17)","[0, 4]"
2,0,"input = ([10, 21, 30, 40, 50], 70)","[2, 3]"
3,0,"input = ([-1, 0, 1, 2, 1], 0)","[0, 2]"
4,0,"input = ([2, 2, 2, 2, 2], 4)","[0, 1]"
5,1,input = '[({})]',True
6,1,input = '[(])',False
7,1,input = '()(){}{}',True
8,1,input = '{[()]}',True
9,1,input = '([)]',False
10,2,"list1 = [1, 3, 5], list2 = [2, 4, 6]","[1, 2, 3, 4, 5, 6]"
11,2,"list1 = [1, 2, 3], list2 = [4, 5, 6]","[1, 2, 3, 4, 5, 6]"
12,2,"list1 = [], list2 = [1, 2, 3]","[1, 2, 3]"
13,2,"list1 = [1, 2], list2 = []","[1, 2]"
14,2,"list1 = [1, 5, 9], list2 = [2, 6, 10]","[1, 2, 5, 6, 9, 10]"
15,3,"prices = [3, 2, 6, 1, 7]",6
16,3,"prices = [7, 1, 5, 3, 6, 4]",5
17,3,"prices = [1, 2, 3, 4, 5]",4
18,3,"prices = [7, 6, 4, 3, 1]",0
19,3,"prices = [1, 4, 2, 5, 3, 6]",5
20,4,s = 'A Toyota’s a Toyota',true
21,4,"s = 'No lemon, no melon'",true
22,4,"s = 'Hello, World!'",false
23,4,s = 'Was it a car or a cat I saw?',true
24,4,s = '12321',true
30,6,"s = 'listen', t = 'silent'",true
31,6,"s = 'rat', t = 'car'",false
32,6,"s = 'anagram', t = 'nagaram'",true
33,6,"s = 'abcd', t = 'dcba'",true
34,6,"s = 'hello', t = 'world'",false
35,7,"nums = [1, 3, 5, 7, 9], target = 7",3
36,7,"nums = [-5, -3, 0, 3, 5], target = 3",3
37,7,"nums = [10, 20, 30, 40, 50], target = 25",-1
38,7,"nums = [1, 2, 3, 4, 5], target = 5",4
39,7,"nums = [1], target = 1",0
40,8,"image = [[1,1,1],[1,1,0],[1,0,1]], sr = 1, sc ...","[[2,2,2],[2,2,0],[2,0,1]]"
41,8,"image = [[0,0,0],[0,0,0],[0,0,0]], sr = 0, sc ...","[[1,1,1],[1,1,1],[1,1,1]]"
42,8,"image = [[1,1,1],[1,1,1],[1,1,1]], sr = 2, sc ...","[[3,3,3],[3,3,3],[3,3,3]]"
43,8,"image = [[0,0],[0,1]], sr = 0, sc = 0, newColo...","[[3,3],[3,1]]"
44,8,"image = [[1]], sr = 0, sc = 0, newColor = 0",[[0]]
45,9,"tree = [6, 2, 8, 0, 4, 7, 9, null, null, 3, 5]...",6
46,9,"tree = [6, 2, 8, 0, 4, 7, 9, null, null, 3, 5]...",2
47,9,"tree = [2, 1], p = 2, q = 1",2
48,9,"tree = [5, 3, 6, 2, 4, null, null, 1], p = 2, ...",3
49,9,"tree = [5, 3, 6, 2, 4, null, null, 1], p = 1, ...",3

In [15]:
df.to_csv('problem_test_cases.csv', index=False)